.home_container {
  display: flex;
  width: 800px;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  flex-direction: column;

  div {
    display: flex;
  }

  // LOADING CONTAINER
  .loading_container {
    flex: 1;
    width: 100%;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    p {
      text-align: center;
      margin-bottom: 20px;
    }
    .error_icon {
      font-size: $font-bg;
    }
  }

  // GROUPED ITEMS
  .grouped_items_cover {
    width: 100%;
    margin: 70px 0px 100px;
    flex-direction: column;

    .empty_list {
      width: 100%;
      align-items: center;
      flex-direction: column;
    }

    .group_container {
      gap: 20px;
      width: 100%;
      margin-bottom: 50px;
      flex-direction: column;
      .group_header {
        color: $colSub;
        padding-left: 5px;
        margin-bottom: 10px;
      }

      .group_list {
        gap: 20px;
        flex-direction: column;
        .list_item {
          gap: 25px;
          border: $border;
          padding: 30px 20px;
          flex-direction: column;

          .main_content {
            font-size: $font-rg;
            span {
              color: $colSub;
            }
          }

          .info_row {
            width: 100%;
            color: $colSub;
            font-size: $font-sl;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            .info_item {
              text-transform: capitalize;
              .small {
                text-transform: lowercase !important;
              }
              &.asset {
                text-transform: uppercase;
              }
              &.status {
                color: $colMain;
              }
            }
          }
        }
      }
    }
  }
}
