.home_container {
  display: flex;
  width: 800px;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  flex-direction: column;

  div {
    display: flex;
  }

  // SEARCH BAR
  .search_bar {
    gap: 10px;
    width: 100%;
    height: 75px;
    align-items: center;
    flex-direction: row;
    border-right: $border;
    border-bottom: $border;

    input {
      flex: 1;
      border: none;
      outline: none;
      font-size: $font-sm;
      padding: 18px 0px 10px;
      &::placeholder {
        color: $silver;
        font-weight: 500;
      }
    }
    button {
      color: $colMain;
      cursor: pointer;
      font-size: $font-rg;
      border-left: $border;
      padding: 18px 30px 10px;
      height: calc(100% + 1px);
      text-transform: uppercase;
    }
  }

  // FILTER BAR
  .filter_bar {
    width: 100%;
    margin: 40px 0px 20px;
    flex-direction: column;

    .filter_type,
    .filter_options {
      gap: 10px;
      width: 100%;
      height: 65px;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      border-bottom: $border;
      .row_item {
        gap: 7px;
        height: 100%;
        cursor: pointer;
        color: $silver;
        font-weight: 500;
        align-items: center;
        flex-direction: row;
        text-transform: capitalize;
        i {
          transform: scale(0.7);
        }
        &:last-child {
          border-right: none;
        }
        &.active {
          color: $colMain;
        }
      }
    }
  }

  // LOADING CONTAINER
  .loading_container {
    flex: 1;
    width: 100%;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;

    p {
      text-align: center;
      margin-bottom: 20px;
    }
    .error_icon {
      font-size: $font-bg;
    }

    // BBARLOADER
    .bar_wrapper {
      height: 5px;
      width: 90px;
      border-radius: 2px;
      overflow: hidden;
      display: inherit;
      position: relative;
      background-clip: padding-box;
      background-color: rgba(0, 0, 0, 0.2);
      .loader {
        height: 5px;
        display: block;
        overflow: hidden;
        border-radius: 5px;
        position: absolute;
        background-color: #000;
        will-change: left, right;
        background-clip: padding-box;
        animation-fill-mode: forwards;

        &_1 {
          animation: longAnim 3s cubic-bezier(0.65, 0.815, 0.735, 0.395)
            infinite;

          @keyframes longAnim {
            0% {
              left: -35%;
              right: 100%;
            }
            60% {
              left: 100%;
              right: -90%;
            }
            100% {
              left: 100%;
              right: -90%;
            }
          }
        }

        &_2 {
          animation: shortAnim 2.1s 1.15s cubic-bezier(0.165, 0.84, 0.44, 1)
            infinite;

          @keyframes longAnim {
            0% {
              left: -200%;
              right: 100%;
            }
            60% {
              left: 107%;
              right: -8%;
            }
            100% {
              left: 107%;
              right: -8%;
            }
          }
        }
      }
    }
  }

  // GROUPED ITEMS
  .grouped_items_cover {
    width: 100%;
    margin: 70px 0px 100px;
    flex-direction: column;

    .empty_list {
      width: 100%;
      align-items: center;
      flex-direction: column;
    }

    .group_container {
      gap: 20px;
      width: 100%;
      margin-bottom: 50px;
      flex-direction: column;
      .group_header {
        color: $colSub;
        padding-left: 5px;
        margin-bottom: 10px;
      }

      .group_list {
        gap: 20px;
        flex-direction: column;
        .list_item {
          gap: 25px;
          border: $border;
          padding: 30px 20px;
          flex-direction: column;

          .main_content {
            font-size: $font-rg;
            span {
              color: $colSub;
            }
          }

          .info_row {
            width: 100%;
            color: $colSub;
            font-size: $font-sl;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            .info_item {
              text-transform: capitalize;
              .small {
                text-transform: lowercase !important;
              }
              &.asset {
                text-transform: uppercase;
              }
              &.status {
                color: $colMain;
              }
            }
          }
        }
      }
    }
  }
}
